<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" 
    href="{% static 'blog/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}dForData{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div class="container-inner">
      <div class="header">
        <div class="header-inner">
          <div class="header-content">
            {% block header %}
              <h1 class="logo"> <a href="http://www.dfordata.com">dForData</a> 
              </h1>
            {% endblock %}
          </div>
        </div>
            
        <!-- Nav start -->
        <div class="nav">
          <div class="nav-in">
            <ul>
              {% block nav %}
              <li class="last"><a href="/">Home </a></li>
              <li><a href="/p/about">About us </a></li>
              <li><a href="#">Services </a></li>
              <li><a href="/blog/add">Add Post </a></li>
              <li><a href="/blog">Blog </a></li>
              <li class="no_bg ped"><a href="/p/contact">Contact</a></li>
              {% endblock %}
            </ul>
            
          </div>
        </div>
      </div>
          <!-- Nav end --> 
        
        
      <!-- maincontent Starts -->
      <div class="content">
        <div class='content-inner'>
          <div class="alpha">
            {% block content %}{% endblock %}
          </div>

      
          <div class="beta">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      
        <div class="comments">
            {% block comments %}{% endblock %}
        </div>
            
      </div>
    </div>
    
    </div class="footer">
    </div>
    
  </div>
    
</body>
</html>
